.search{
  width: 320px;
  position: relative;
}
.searchPanel{
  width: 100%;
  border-radius: 12px;
  background: var(--newsecond-bg);
  border: 1px solid var(--newborder);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.10);
  padding: 10px 12px;
  outline: none;
  color: var(--text-color)
}
.searchItems{
  z-index: 1;
  top: 30px;
  width: 100%;
  position: absolute;
  background: var(--second-bg-color);
  border: 1px solid var(--newborder);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.10);
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.searchItem{
  width: 100%;
  padding:10px 12px;
  border-bottom: 1px solid var(--newborder);
  text-decoration: none;
  color: var(--text-color);
}